#helpForm {
	margin-bottom: 100px;
	padding-top: 145px;
}
#helpForm .image img{
    width: 100%;
}

#helpForm .image img{
    width: 100%;
    padding: 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#helpForm .items{
    margin-top:35px;
}
#helpForm .items p{
    margin: 0;
    font-size: 15px;
    font-family: 'Comfortaa', cursive;
    font-weight: 800;
    color:#494949;
}
#helpForm .items h2{
    font-size: 35px;
    font-family: 'Comfortaa', cursive;
    font-weight: 800;
    width: 650px;
    color:#2abdf2;
    text-align: left;
}
#helpForm .itemform{
  margin-top: 30px;
}

#helpForm .form-check {
    display: inline-block;
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin-bottom: .125rem;
    padding-right: 25px;
}
#helpForm .col-form-label {
    padding-top: 0;
}
#helpForm .btn{
    font-size: 15px;
    font-family: 'Comfortaa', cursive;
    font-weight: 800;
    padding: 10px 15px;
    border-radius: 25px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
#helpForm  .btn:hover {
    color: #0d6efd !important;
    background-color: #f7f7f7 !important;
    border-color: var(--bs-btn-hover-border-color);
}
#helpForm  label {
    color: #333;
    cursor: pointer;
}


@media (min-width:320px) and (max-width:575px){
    #helpForm .items h2 {
        font-size: 23px;
        width: 100%;
    }
    #helpForm .items p {
        margin-bottom: 5px;
    }
    .form-control {
        margin: 0 !important;
    }
    .form-select {
        margin: 0 !important;
    }
    #helpForm .btn {
        margin: 0 !important;
        width: 100%;
    }
    #helpForm {
        margin-bottom: 60px;
    }
}

@media (min-width:576px) and (max-width:767px){
    #helpForm .items h2 {
        font-size: 27px;
        width: 100%;
    }
    #helpForm .items p {
        margin-bottom: 5px;
    }
    #helpForm {
        margin-bottom: 60px;
    }

}
@media (min-width:768px) and (max-width:991px){
    #helpForm .items p {
        padding-bottom: 10px;
    }
    #helpForm .items h2 {
        font-size: 24px;
        width: 100%;
    }
    #helpForm .image img {
        margin-top: 41px;
        height: 548px !important;
    }
    #helpForm {
        margin-bottom: 70px;
    }
}
@media (min-width:992px) and (max-width:1199px){
    #helpForm .items h2 {
        font-size: 27px;
        width: 100%;
    }
}
@media (min-width:1200px) and (max-width:1399px){
    #helpForm .items h2 {
        font-size: 34px;
        width: 100%;
    }
}